body {
    font-family: Arial, sans-serif;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

.weather-box {
    margin-top: 20px;
}